<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.iesperemaria.todo"
    versionCode = "1"
    version     = "0.0.1" >

  <name>Ejercicio Lista Tareas</name>

  <description>
     Una lista de tareas de prueba
  </description>

  <author href="https://iesperemaria.com" email="egalduf@iesperemaria.com">
      Enrique Galduf Tel
  </author>

  <access origin="*" />
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-vibration" />
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" />
  
	 <icon src="icono.png" />
	<splash src="descarga.jpg" />

	<preference name="SplashScreenDelay" value="5000" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
	<preference name="SplashMaintainAspectRatio" value="false" />

	<preference name="phonegap-version" value="cli-9.0.0" />
</widget>
